/node_modules
/src
/tests
/coverage

/.husky
/.vscode
/.idea

.env
.DS_Store

.editorconfig
.prettierrc
.prettierignore
.commitlintrc.json

package-lock.json
tsconfig.json
tsup.config.ts
.gitignore
jest.config.ts
